@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*BASE PAGE*/



/*HERO*/

.hero{
    min-height: 90vh;
    background: url("/img/hero-background.jpg");
    background-size: cover;
    background-position: center;
}

/*
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    margin: 0;
}

header{
    border-bottom: 1px solid rgb(153, 153, 153);
    background-color: #fff;
}

nav li{
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

nav a {
    color: #7c7b7c;
    text-decoration: none;
}

nav{
    display: none;
}

.container{
    padding: 1rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

.container a h1{
    color: #540FE8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.5rem;
}

.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    background-color: black;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.slider-content h1{
    color: white;
    font-size: 14rem;
    text-align: center;
}

.slider-content p{
    color: white;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

section{
    padding: 100px 0;
}

.boxed{
    max-width: 1280px;
    margin-inline: auto;
}

#about h2{
    text-transform: uppercase;
}

.flex{
    display: flex;
}

h2{
    font-size: 4rem;
}

section p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5em;
}

.w30{
    width:30%;
}

.cv{
    text-align: center;
}

#cv{
    margin-top: 25px;
    width: 300px;
    padding: 15px;
    background-color: #540FE8;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #25075e; 
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease; 
}

#cv:hover {
    background-color: #370e83;
    border-color: #25075e; 
}

.cv span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.space-between{
    justify-content: space-between;
}

.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

.realisation h3{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: .4 ease;
    text-transform: uppercase;
}

.realisation a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.realisation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid black 2px;
    border-radius: 5px;
    transition: .4s ease;
}

.realisation:hover img{
    filter: brightness(30%);
}

.realisation:hover h3{
    opacity: 1;
}

#cactusLogo{
    object-fit: contain;
    background-color: #14af3b;
}

.wrap{
    flex-wrap: wrap;
}

.gap20{
    gap:30px;
}

.maxContent{
    width: max-content;
}

.centrer{
    text-align: center;
}

.marginBot50{
    margin-bottom: 50px;
}

.marginBot20{
    margin-bottom: 20px;
}

.w20{
    width: 20%;
}

.w25{
    width:25%;
}

.w33{
    width: 33%;
}

.resetStyle{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

footer{
    width: 100%;
    color: #fff;
    background-color: black;
}

.burger{
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    
}

.burger .bar{
    width: 27px;
    height: 4px;
    background-color: #540FE8;
    display: block;
}

.burger .bar::before, .burger .bar::after{
    display: block;
    content: "";
    width: 27px;
    height: 4px;
    background-color: #540FE8;
    position:absolute;
}

.burger .bar::before{
    transform: translateY(-8px);
}

.burger .bar::after{
    transform: translateY(8px);
}

#skills{
    background-color: #070418;
    color: white;
}

#skills h2{
    margin-top: -35px;
}

#skills h3{
    font-size: 3rem;
    text-align: center;
}

.skill{
    box-sizing: border-box;
    text-transform: uppercase;
}

.skill img{
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

#progTitle{
    margin-top: 100px;
}

.skill-container{
    border: 2px #1a053d solid;
    background-color: #2c2938;
    border-radius: 15px;
    padding: 25px;
    box-shadow: #6e11ac 2px -2px 5px 10px;
}

@media screen and (max-width:767px) {
    .container{
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        height: 100px;
    }

    .slider{
        min-height:40vh;
    }

    .slider-content{
        width: 100%;
    }

    .slider-content h1{
        font-size: 4rem;
        padding: 10px;
        text-align: center;
    }

    .slider-content p{
        text-align: center;
        justify-content: end;
        font-size: 2rem;
    }

    .realisation h3{
        font-size: 1rem;
    }

    .realisation{
        width: 45%;
    }

    section{
        padding: 25px;
        
    }

    #skills{
        margin-top: 50px;
        margin: 0;
    }

    h2{
        font-size: 4rem;
    }

    #about h2{
        font-size: 2.5rem;
    }

    .skill{
        width: 100%;
        gap: 30px;
        padding: 15px;
    }

    .skill-container{
        display: block;
    }

}*/
