@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap');


/* RESET STYLE*/
    a{
        text-decoration: none;
    }

    li{
        list-style: none;
    }

/* CORP DE PAGE */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        line-height: 1.6;
    }

    html{
        font-size: 62.5%;
    }

    section{
        padding: 5rem 0;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
      }
      
      .grid__item {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
      }

/* HEADER */
    .header{
        background-color: #fff;
        border-bottom: 1px solid rgb(197, 197, 197);
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .container{  
        padding: 1rem 2rem; /*pour mobile*/
    }

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        position: relative;
        display: inline-block;
        border: #540FE8 4px solid;
        padding: 5px;
        border-radius: 50%;
        width: 60px;
        height: 60px; 
    }
    
    .logo a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: "Oswald", sans-serif;
        font-style: normal;
        text-transform: uppercase;
    }

    .header li{
        font-size: 1.75rem;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        padding: 0 10px;
    }

    .header a{
        color: #540FE8;
        text-transform: uppercase;
    }

    .navbar{display: none;}

/* BOUTON BURGER */
    .burger{
        border: none;
        background: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: relative;
        margin-left: 1rem;
    }

    .burger .bar{
        width: 27px;
        height: 4px;
        background-color: #540FE8;
        display: block;
    }

    .burger .bar::before, .burger .bar::after{
        display: block;
        content: "";
        width: 27px;
        height: 4px;
        background-color: #540FE8;
        position:absolute;
    }

    .burger .bar::before{
        transform: translateY(-8px);
    }

    .burger .bar::after{
        transform: translateY(8px);
    }    

/* HERO */
    .hero {
        min-height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/hero-background.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
        color: #fff;
    }

    .hero-content h1 {
        font-size: 10rem;
        font-weight:500;
        margin-bottom: 30px;
    }

    .hero-content p {
        font-size: 3rem;
        text-transform: uppercase;
    }

/* ABOUT */
    .about-content {
        margin-top: 25px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    .section-title {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
    }

    .section-title h2{
        margin-bottom: 10px;
    }
    
    .section-title hr {
        width: 75px;
        height: 5px;
        border: none;
        background: #540FE8;
        margin-left: 60px;
    }

    #about p{
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 15px;
        text-align: justify;
        color: #333;
    }

    .cv{
        text-align: center;
    }
    
    #cv{
        margin-top: 50px;
        width: 300px;
        padding: 15px;
        background-color: #540FE8;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        border-radius: 10px;
        border: 2px solid #25075e; 
        cursor: pointer;
        display: inline-block;
        transition: background-color 0.3s ease; 
    }
    
    #cv:hover {
        background-color: #370e83;
        border-color: #25075e; 
    }
    
    .cv span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }

/* SKILLS */ 
    .skills{
        background: #070418;
        color: #FFF;
        text-transform: uppercase;
    }

    .skill-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    .skill-top{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skill-top h2{
        position: relative;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .skill-top hr{
        position: relative;
        width: 75px;
        height: 5px;
        border: none;
        background: #540FE8;
    }

    .skill-content{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .skill-content p{
        margin-top: 15px;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .img{
        width: 90px;
        height: 90px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFF;
        border-radius: 45px;
    }

    .skill-icon{
        width: 55px;
    }

    .w70{
        width: 70px;
    }

    .w65{
        width: 65px;
    }  

    .w60{
        width: 60px;
    }
      
/* FOOTER */    
    footer{
        background-color: #14131a;
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: 1px;
    }

    footer hr {
        position: relative;
        width: 75px;
        height: 5px;
        border: none;
        background: #540FE8;
        margin: 15px auto; 
    }

    .social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social li{
        width: 60px;
        height: 60px;
        margin: 25px;
    }

    .social a{
        fill: #FFF;
    }

    .linkedin{  
        position: relative;
        background-color: #0e76a8;
        border-radius: 50%;
    }

    .linkedin a{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 50px;
        height: 50px;
        padding: 15px;
    }

    .contact{
        padding: 2rem;
    }

    .contact h2{
        font-size: 3rem;
    }

    .footer-bottom{
        padding: 15px;
        background-color: #000000;
        font-weight: 300;
        word-spacing: 5px;
    }

/* MEDIA PETIT ECRAN */
    @media screen and (max-width: 749px) {
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            top: 55px;
            left: 110%;
            width: 0;
            overflow: hidden;
            opacity: 0;
            height: calc(100vh - 55px);
            background: #F5F5F5;
            transition: all .4s ease-out;
          }

          nav .menu li {
            display: flex;
            justify-content: center;
          }
        
          nav .menu a {
            display: block;
            font-size: 2rem;
            transition: all .4s;
          }

        .hero{
            min-width: 45vh;
            background-position: center;
        }
        .hero-content h1 {
            font-size: 3.25rem;
        }
        
        .hero-content p {
            font-size: 1.25rem; 
            font-weight: 500;
        }

        #about h2{
            font-size: 3.5rem;
            margin-bottom: 15px;
        }

        #about p{
            text-align: left;
            font-weight: 1rem;
        }

        .skill-content{
            width: 50%;
        }
    }

/* MEDIA GRAND ECRAN */
    @media screen and (min-width: 750px) {
        .navbar{
            display: flex;
        }

        .header .container {
            max-width: 1400px;
            margin: 0 auto;
            padding: 1.5rem;
        }

        .container{
            max-width: 1280px;
            margin: 0 auto;
            padding: 1.5rem;
        }

        .header .container{
            max-width: 1200px;
        }
       
        .burger{
            display: none;
        }
    }
