@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET STYLE*/
    a{
        text-decoration: none;
    }

    li{
        list-style: none;
    }

/* CORP DE PAGE */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        line-height: 1.6;
    }

    html{
        font-size: 62.5%;
    }

/* CLASSE GENERIQQUE */
    section{
        min-height: 100vh;
        padding: 7rem 0;
        overflow-x: hidden;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
    }
      
    .grid-item {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
        padding: 1rem;
    }

    
    .w70{
        width: 70px;
    }

    .w65{
        width: 65px;
    }  

    .w60{
        width: 60px;
    }

    img{
        width: 100%;
    }

    div{
        display: block;
    }

    section .animate{
        opacity: 0;
        transition: 1s;
        transform: scale(.7);
    }

    section.show-animate .animate{
        opacity: 1;
        transform: scale(1);
    }

    .top .animate{
        transition: 1s;
        transform: translateX(-100%);
    }

    .top.show-animate .animate{
        transform: translateX(0);
    }

    .bottom .animate{
        transition: 1s;
        transform: translateX(100%);
    }

    .bottom.show-animate .animate{
        transform: translateX(0);
    }

    
/* HEADER */
    .header{
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid rgb(197, 197, 197);
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .container{  
        padding: 2rem 2.5rem; /*pour mobile*/
    }

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo a {
        font-family: "Poppins", sans-serif;
        font-size: 27px;
        font-weight: 600;
        color: #540FE8;
    }

    .header nav a {
        font-size: 20px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        padding: 0 15px;
        font-family: "Poppins", sans-serif;
        color: #540FE8;
        position: relative;
        transition: color 0.3s ease-in-out;
    }

    nav a::before{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 25%;
        width: 50%;
        height: 3px;
        background-color: #540FE8;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out; 
    }
    
    nav a:hover::before{
        transform: scaleX(1);
        transition: transform 0.3s ease-in-out; 
    }

/* BOUTON BURGER */
    .burger{
        border: none;
        background: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: relative;
        margin-left: 1rem;
    }

    .burger .bar{
        width: 27px;
        height: 4px;
        background-color: #540FE8;
        display: block;
    }

    .burger .bar::before, .burger .bar::after{
        display: block;
        content: "";
        width: 27px;
        height: 4px;
        background-color: #540FE8;
        position:absolute;
    }

    .burger .bar::before{
        transform: translateY(-8px);
    }

    .burger .bar::after{
        transform: translateY(8px);
    }  

/* HERO */
    .hero {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../img/hero-background.jpg);
        background-size: cover;
        background-position: bottom; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .hero-content {
        font-family: "Poppins", sans-serif;
        text-align: center;
        color: #fff;
    }

    .hero-content h1 {
        font-size: 125px;
        font-weight:500;
        margin-bottom: 30px;
    }

    .hero-content p {
        font-size: 35px;
    }

    .hero-content.left{
        animation-duration: 1s;
        animation-name: slideInleft;
    }

/* ABOUT */
    .about{
        background: #F5F5F5
    }   

    .about-content {
        justify-content: center;
        align-items: center;
        background: #FFF;
        margin-top: 45px;
        padding: 25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    .section-title {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .section-title h2{
        margin-bottom: 10px;
    }
    
    .section-title hr {
        width: 75px;
        height: 5px;
        border: none;
        background: #540FE8;
        margin: 0 auto;
    }

    .about p{
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 15px;
        text-align: justify;
        color: #333;
    }

    .cv{
        text-align: center;
    }
    
    #cv{
        margin-top: 50px;
        width: 300px;
        padding: 15px;
        background-color: #540FE8;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        border-radius: 10px;
        border: 2px solid #25075e; 
        cursor: pointer;
        display: inline-block;
        transition: background-color 0.3s ease; 
    }
    
    #cv:hover {
        background-color: #091466;
        border-color: #25075e; 
    }
    
    .cv span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }

/* SKILLS */ 
    .skills{
        background: #070418;
        color: #FFF;
        text-transform: uppercase;
    }

    .skill-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 60px;
    }

    .skill-top{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skill-top h2{
        position: relative;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .skill-top hr{
        position: relative;
        width: 75px;
        height: 5px;
        border: none;
        background: #540FE8;
    }

    .skill-content{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .skill-content p{
        margin-top: 15px;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .img{
        width: 90px;
        height: 90px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFF;
        border-radius: 45px;
    }

    .skill-content .img{
        transition: transform 0.3s ease-in-out;
    }
    
    .skill-content .img:hover{
        transform: scale(1.25); 
    }
    
    .skill-content .img:not(:hover){
        transform: scale(1); 
    }

    .skill-icon{
        width: 55px;
    }

    .skill-outil{
        background-color: #F5F5F5;
        color: #070418;
        display: flex;
        padding: 10px;
    }

    .w60{
        width: 60px;
    }
    
/* PROJETS */
    .portfolio{
        background: #F5F5F5;
    }

    .portfolio .skill-top h2{
        position: relative;
        text-transform: uppercase;
        font-size: 30px;
    }
    .portfolio .skill-top hr{
        margin-bottom: 50px;
    }

    .portfolio .skill-top p{
        font-size: 2rem;
        font-weight: 500;
    }

    .portfolio {
        background: #F5F5F5;
      }
      
    .portfolio .grid-item {
        max-width: 50%;
        margin-bottom: 0;
        opacity: 1;
        transition: all 1s ease;
    }
      
    .portfolio .grid-item.hide {
        opacity: 0;
        max-width: 0;
        padding: 0;
        overflow: hidden;
        transition: all .4s ease;
    }

    .modal {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        z-index: 4;
        transform: scale(0);
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.5s;
    }
      
    .show.modal {
        transform: scale(1);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
    }
      
    .modal__content {
        background-color: #fefefe;
        height: 100vh;
        padding: 5rem 1rem;
        overflow: auto;
        text-align: left;
    }
      
    .modal img {
        margin-bottom: 2rem;
    }
      
    .modal__title {
        margin: 0 0 2rem;
    }
      
    .modal__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: none;
        border: 1px solid #eee;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 3.1rem;
        color: #666;
        cursor: pointer;
    }
      
    .modal .grid-item {
        max-width: 100%;
        margin-bottom: 0;
        opacity: 1;
        transition: all 1s ease;
    }
      
    .card {
        background: #FFF;
        text-transform: uppercase;
        position: relative;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        border: 1px solid #EEE;
        overflow: hidden;
    }
      
    .card__inner {
        padding: 2rem;
    }
      
    .card__title {
        margin: 0 0 1rem;
        font-size: 1.6rem;
    }
      
    .card__overlay {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 110%;
        transition: all .3s;
    }
      
    .card__overlay a {
        font-size: 4.5rem;
        color: #FFF;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
      
    .card:hover .card__overlay {
        top: 0;
    }

    section .portfolio .haut .animate{
        transform: translateX(-100%);
    }

    .haut .card.show-animate .animate{
        transform: translateX(0);
    }

/* FOOTER */    
    footer{
        background-color: #070418;
        color: #fff;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 200;
        letter-spacing: 1px;
    }

    footer hr {
        position: relative;
        width: 75px;
        height: 5px;
        border: none;
        background: #540FE8;
        margin: 15px auto; 
    }

    .social{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 70px;
    }
    
    .social li {
        padding: 0 1.5rem;
    }

    .social a {
        fill: #FFF;
        border: 1px solid #FFF;
        border-radius: 50%;
        padding: 1rem;
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
    }
    
    .social a {
        transition: transform 0.4s ease-in-out; 
    }
    
    .social a:hover {
        background: #FFF;
        fill: #070418;
        transform: scale(1.25); 
    }
    
    .social a:not(:hover) {
        transform: scale(1); 
    }

    .contact{
        min-height: 40vh;
        padding: 3.5rem;
    }

    .contact h2{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .footer-bottom{
        bottom: 0;
        color: #f5f5f5;
        padding: 20px;
        background-color: #000000;
        font-weight: 400;
        word-spacing: 5px;
    }

/* MEDIA PETIT ECRAN */
    @media screen and (max-width: 749px) {
        .logo a{
            font-size: 20px;
        }

        nav {
            display: flex;
            position: fixed;
            overflow: hidden;
            opacity: 0;
            right: 110%;
            left: 0;
            background: #F5F5F5;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all .3s ease-out;
            transform: translateY(-10%);
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }

        header .menu {
            display: flex;
            justify-content: center;
        }

        header .menu a{
            display: block;
            font-size: 2rem;
            padding: 1rem;
            transition: all .4s;
        }

        .show-nav nav{
            opacity: 1;
            width: 100%;
            top: 75px;
            z-index: 2;
            transform: translateY(0);
        }

        .header nav a::before {
            display: none;
        }

        .show-nav .burger .bar{
            width: 0;
        }
    
        .burger .bar::before, .burger .bar::after{
            transition: all .3s ease-out;
        }
    
        .show-nav .burger .bar::before{
            transform: rotate(-45deg);
        }
    
        .show-nav .burger .bar::after{
            transform: rotate(45deg);
        }

        .hero{
           background-size: auto;
        }

        .hero-content h1 {
            font-size: 60px;
        }

        .hero-content p {
            font-size: 25px; 
            font-weight: 400;
        }

        #about h2{
            font-size: 3.5rem;
            margin-bottom: 15px;
        }

        #about p{
            text-align: left;
            font-weight: 1rem;
        }

        .skill-content{
            width: 50%;
        }
        .portfolio .grid-item{
            max-width: 100%;        
        }

        .portfolio .skill-top p{
            text-align: center;
        }

        .footer-bottom p{
            color: #FFF;
            font-size: 14px;
            font-weight: 40;
        }

        .portfolio a {
            font-size: 1.4rem;
        }
    }

/* MEDIA GRAND ECRAN */
    @media screen and (min-width: 750px) {
        .navbar{
            display: flex;
        }

        .header .container {
            max-width: 1375px;
            margin: 0 auto;
            padding: 2rem;
        }

        .container{
            max-width: 1300px;
            margin: 0 auto;
            padding: 2rem;
        }

        .modal .container{
            max-width: 1200px;
        }
       
        .burger{
            display: none;
        }

        .portfolio .grid-item {
            max-width: 33.3333%;
          }
        
          .portfolio-filters .grid-item {
            max-width: 25%;
          }
        
          .modal__content {
            padding: 3rem;
          }
        
          .modal .grid-item {
            max-width: 50%;
          }
    }

/* ANIMATION */
    @keyframes slideInleft {
        from {
        transform: translateX(-150%);
        }
    
        to {
        transform: translateX(0);
        }
    }  


